header {
  height: 90px;
  background-color: antiquewhite;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
  background-color: beige;
}

footer {
  height: 90px;
  background-color: antiquewhite;
}

button {
  width: 50px;
  height: 30px;
  background-color: azure;
  cursor: pointer;
}

.button_disabled {
  opacity: 0, 5;
  cursor: default;
  background-color: rgb(220, 220, 220);
}

.counter_background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 600px;
  background-color: grey;
  gap: 10px;
}

.counter {
  display: flex;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  background-color: bisque;
}
